/* import open sans font  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background: #282626;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header {
    background: #eae2d9;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.header img {
    width: 4em;
    margin: 2em 0;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: .5em;
}

.btn {
    font-size: .5em;
    text-decoration: none;
    border-radius: 4px;
    padding: .5em 1em;
    margin: .6em;
}

.btn-navbar {
    background: #ea5532;
    color: #18171a;
}

.btn-navbar:hover {
    background: #18171a;
    color: #ea5532;
}

.btn-discord {
    background: #eae2d9;
    color: #7289da;
    font-size: .8em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 13em;
    margin: 0 auto;
}

.btn-discord:hover {
    background: #7289da;
    color: #eae2d9;
}

.btn-discord:hover img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(3%) hue-rotate(359deg) contrast(100%);
}

.btn-sign {
    background: transparent;
    border: 2px solid #ea5532;
    color: #ea5532;
}

.btn-sign:hover {
    background: #ea5532;
    color: #FFF;
}

.covid-banner {
    background: #c5c4c3;
    background-image: url('./assets/img/covid-draw.png');
    background-repeat: no-repeat;
    background-size: unset;
    background-position: 2em -2em;
    max-width: 60em;
    min-height: 10em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.banner-text {
    max-width: 15em;
    max-height: 7em;
    padding: 1em;
    margin: 1em 3em;
    background: #282626;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text h2 {
    color: #eae2d9;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: bold;
}

.link-art {
    font-size: .3em;
    color: #eae2d9;
    text-decoration: none;
    margin-left: 2em;
}

.banner-img {
    max-width: 25em;
    margin: 1em 3em;
}

.banner-img img {
    width: 5em;
}

.covid-disclaimer {
    max-width: 23em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
}

.covid-disclaimer p {
    color: #eae2d9;
    font-size: .6em;
    text-align: center;
    padding: 0 1.7em;
}

.tracks {
    background: #eae2d9;
    text-align: center;
    margin: 2em 0;
}

.tracks h3 {
    font-size: .7em;
    background: #ea5532;
    padding: 1em;
}

table {
    margin: 0 auto;
    font-size: .5em;
    margin-bottom: 1em;
}

/* Tabla */

table.minimalistBlack {
    border: 3px solid #EA5532;
    background-color: #EAE2D9;
    width: 90%;
    text-align: left;
    border-collapse: collapse;
}

table.minimalistBlack td,
table.minimalistBlack th {
    border: 1px solid #EA5532;
    padding: 5px 4px;
}

table.minimalistBlack tbody td {
    font-size: 13px;
}

table.minimalistBlack thead {
    background: #282626;
    border-bottom: 3px solid #EA5532;
}

table.minimalistBlack thead th {
    font-size: 15px;
    font-weight: bold;
    color: #EA5532;
    text-align: left;
}

table.minimalistBlack tfoot td {
    font-size: 14px;
}

/* videos en vivo */

.videos-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: .9em;
}

#transmisiones h2 {
    margin: 0 auto;
    font-size: .6em;
    text-align: center;
    background: #ea5532;
    color: #282626;
    padding: .6em 2em;
    max-width: 6em;
}

.iframe-wrapper {
    width: 20em;
    margin: .6em;
}

.title-video {
    font-size: .7em;
    text-align: center;
    color: #eae2d9;
    text-transform: uppercase;
}

.discord-banner {
    max-width: 30em;
    max-height: 10em;
    font-size: .7em;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    color: #EAE2D9;
    border: .3em solid #EAE2D9;
    border-radius: 10em;
    padding: 0px 2em 0em 2em;
}

.discord-banner img {
    width: 2em;
    margin-left: .6em;
}

.discord-banner h4 {
    font-size: .9em;
    text-transform: uppercase;
}

#comunidades h4 {
    text-align: center;
    background: #EAE2D9;
    color: #18171a;
    font-size: .7em;
    font-weight: bold;
    max-width: 14em;
    margin: 5.5em auto 0 auto;
    padding: .5em 3em;
}

.logos-com-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.logos-com-wrapper img {
    max-width: 3em;
    margin: .9em;
}

/* media query para mobile  */

@media (max-width: 37em) {

    .banner-text {
        max-width: unset;
        max-height: unset;
        font-size: .7em;
    }

    .discord-banner {
        border: none;
    }
}